<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
  <style>
    .completed {
      text-decoration: line-through;
    }
    ul {
      list-style-type: none;
    }
  </style>

</head>
<body ng-controller="TodoCtrl">
  <div>
    Name: <input type="text" ng-model="currentTodoName"><br>
    Task: <input type="text" ng-model="currentTodoTask"><br>
    <button ng-click='addTodo()'>Add</button>

    <br><br>
    Filter tasks: <input type="text" ng-model="filterValue">

    <ul>
      <li ng-repeat="todo in todos | filter:filterValue track by $index" ng-class="(todo.completed) ? 'completed' : ''"><input type="checkbox" ng-model="todo.completed"> {{todo.name}}: {{todo.task}}  <button ng-click='removeTodo()'>X</button></li>
     
    </ul>
  </div>

  <script>
    function TodoCtrl($scope) {
      $scope.todos = [
        { name: "Jorja",
          task: "First task",
          completed: false }
      ];
      $scope.addTodo = function () {
        $scope.todos.push({ 
          name: $scope.currentTodoName, 
          task: $scope.currentTodoTask, 
          completed:false }); 
        $scope.currentTodoName = undefined;
        $scope.currentTodoTask = undefined;
      };
      $scope.removeTodo = function (index) {
        $scope.todos.splice(index, 1);
      };
    };
  </script>
</body>
</html>